// colors
$white: #f1f1ff;
$black: #070715;
$tan:       #f7d6bf;
$teal:      #b0cac7;    // PALETTE SOURCE: https://colorpalettes.net/color-palette-4049/
$lightblue: #318fb5;
$blue:      #005086;
$darkblue:  #001244;
$navy:      #192D45;
$red:       #ff2626;

// gradients
$day: linear-gradient(#1f64c9, #d6ebfe);
$dusk : linear-gradient(#123d52, #d03f04);
$night: linear-gradient(#010914, #05558c);
$dawn: linear-gradient(#617fd5, #f0a35d);

// fonts
@font-face {font-family: 'noto-sans-kr-regular'; src: url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.otf');};
$regular: 'noto-sans-kr-regular';