@use './partials/breakpoints' as *
@use './partials/mixins' as *
@use './partials/variables' as *
@use './partials/debug' as *

*, *::before, *::after
    box-sizing: border-box
    margin: 0
html
    font-size: 1rem
    color: white
    font-family: sans-serif
    text-align: center
    // background: lightblue
    height: 100%

img
    max-width: 100%  

ul
    list-style: none
    padding: 0
li

// for testing visuals of breakpoints
// @include xs
    // .fake
    //     width: 100%
@include sm
    .fake
        width: 100%
@include md
    .fake
        width: 100%
@include lg
    .fake
        width: 100%
@include xl
    .fake
        width: 100%

button, .btn
    border: 2px outset grey

hr
    width: 60%
    margin: auto

// Universal
.container
    width: 90%
    max-width: 1100px
    margin: auto
    // background: $darkblue
    padding: 1em

// Tabs
.tabs
    &__header
        display: flex
        justify-content: space-between
        @include xs
            flex-direction: column-reverse
    &__list
        display: flex
        &--left
        &--center
        &--right
    &__tab
        @include blurred-overlay($base-color: $darkblue)
        color: white
        padding: 0.5em
        z-index: 2
        &--active
            @include blurred-overlay($base-color: $blue)
            z-index: 3
        &--basic
            z-index: 0
        @include sm
            &--active
                border-bottom: none
            &--basic
                border-bottom: none
    &__body
        position: relative
        z-index: 1
        border-top: none
        @include blurred-overlay($base-color: $blue)

// Modal
.modal
    &__box
        position: fixed
        top: 50%
        left: 50%
        translate: -50% -50%
        z-index: 1001
        background-color: gray
        border: 2px solid black
    &__overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #00000098
        z-index: 1000

// Sky Background
.sky
    position: relative
    transition: background 1s ease
    &--day
        background-image: $day
    &--dusk 
        background-image: $dusk
    &--night
        background-image: $night
    &--dawn
        background-image: $dawn

// Weather (Root)
.weather
    min-height: 100vh
    &__tab

// Condition
.condition
    width: fit-content
    &__description
.icon
    // outline: 2px solid magenta
    position: relative
    width: 5em
    height: 5em
    &--main
        width: 7em
        height: 7em
    &__layer
        width: 100%
        height: 100%
        @include center

// Current Weather
.current
    min-height: 24em
    &__top
        display: flex
        justify-content: space-around
        padding: 1.5em 0
    &__column
        width: 200px
        display: flex
        flex-direction: column
        align-items: center
        &--temperature
            display: flex
            flex-direction: column
            align-self: center
        &--condition
    &__main
        min-height: 7em
    &__temp
        font-size: 5rem
        &--small
            font-size: 0.25em
        sup
            font-size: 0.5em
    &__sub
    &__divider
    &__list
        padding: 1.5em

        display: flex
        flex-wrap: wrap
    &__item
        display: flex
        flex-direction: column
        width: 50%
        align-items: center
        margin: auto
        @include sm
            flex-direction: row
            &:nth-last-child(even)
                flex-direction: row-reverse
    &__stat-icon
        width: 2.8em
        height: 2.8em
        margin: 0.2em
    &__stat-value
        align-self: center
        width: fit-content

// Weather Groups      
.daily, .hourly
    min-height: 12em
    display: flex
    overflow-x: scroll
    padding: 0.5em
    &__box
        display: flex
        flex-direction: column
        align-items: center 
        padding: 0.5em
        border: 2px outset gray
        border-radius: 8px
    .daily__box
        width: 100%
    .hourly__cell
        display: inline-block
        min-width: 7em
    &__header
        word
        &--top
        &--bottom
    &__condition
    &__divider
    &__temperature
    &__stat
        display: flex
        width: fit-content
        margin: auto
        img
            width: 1em
            height: 1em
        p

// Location Select Modal
.select
    width: 30em
    min-height: 400px
    &--add
    &--modify
    &__header
    &__input
    &__btn
    &__search
    &__list
        max-height: 500px
        overflow-y: scroll
    &__item
        border: 2px solid blue
        padding: 0.5em
        &:hover
            background: teal
    
// Loading
.loading
    &__img
        @include center
        opacity: 0.5
        img
            width: 5em
            height: 5em

@include sm
    .row
        display: flex











// /////////////////////////////////
// // Universal
// .container
//     width: 90%
//     max-width: 1100px
//     margin: auto
//     background: $darkblue
//     padding: 1em

// // Tabs
// .tabs
//     &__header
//         display: flex
//         justify-content: space-between
//         // @include debug(lime)
//     &__list
//         display: flex
//         &--left
//         &--center
//         &--right
//         &--row
//             @include xs
//                 flex-direction: column-reverse
//     &__tab
//         // border: 2px solid teal
//         // @include debug(magenta)
//         padding: 0.5em
//         background: $darkblue
//         color: white
//         &--active
//             background: $blue
//         @include sm
//             &--active
//                 border-bottom: none
//             &--basic
//                 border-bottom: none
//     &__body
//         // border: 2px solid teal
//         border-top: none
//         background: $blue

// // Modal
// .modal
//     &__box
//         position: fixed
//         top: 50%
//         left: 50%
//         translate: -50% -50%
//         z-index: 1001
//         background-color: gray
//         border: 2px solid black
//     &__overlay
//         position: fixed
//         top: 0
//         left: 0
//         right: 0
//         bottom: 0
//         background-color: #00000098
//         z-index: 1000


// .weather
//     &__tab

// .condition
//     // padding: 0.5em
//     @include debug(blue)
//     width: fit-content
//     &__description
//         // width: fit-content
// .icon
//     position: relative
//     width: 5em
//     height: 5em
//     &--main
//         width: 7em
//         height: 7em
//     &__layer
//         width: 100%
//         height: 100%
//         @include center
//         &--recentered
//             translate: -50% -25%
//             scale: 1.3
 
// .current
//     &__main
//         // display: flex
//         // justify-content: space-around
//         // font-size: 2rem
//         // padding: 0.5em
//     &__main-column
//         // width: fit-content
//         // margin: auto
//         // justify-content: space-around
//     &__temp-main
//         // font-size: 3.5em
//         sup
//             // font-size: 0.5em
//     &__temp-sub
//     &__divider
//         // width: 50%
//         // margin: auto
//     &__list
//         // padding: 1em
//         // justify-content: space-around
//         // flex-wrap: wrap
//         // width: fit-content
//         // margin: auto
//     &__item
//         // @include sm
//         //     width: 50%
//         // margin: auto
        

        
// .daily, .hourly
//     // display: flex
//     // overflow: scroll
//     // height: 200px
//     &__box
//         // @include debug(white)
//         // padding: 0.5em
//         // min-width: 8em


// .select
//     &__header
//     &__search
//     &__input
//     &__list
//         // max-height: 300px
//         // overflow: scroll
//     &__item
//         // padding: 0.5em
//         // display: flex
//         // justify-content: space-around
//         // *
//         //     width: 10em
//         &:hover
//             // background: $blue
    
//     &--add
//     // &--modify
