@use './partials/breakpoints' as *
@use './partials/mixins' as *
@use './partials/variables' as *
@use './partials/debug' as *

*, *::before, *::after
    box-sizing: border-box
    margin: 0
html
    font-size: 25px
    color: white
    // font-family: $normal
    background: #151418
    
img
    max-width: 100%  

.container
    width: 80%
    max-width: 1200px
    margin: auto
    @include debug(white)

// .location-select
.weather
    // &__condition
    &__icon
        @include debug(magenta)
        position: relative
        &--layer
            @include debug(green)
            position: absolute
